/*Color Palette:
Burgundy: #420704
Rose: #713734
Light Pink: #faf0f0
Off-White: #fdf8f8
White: #ffffff
 */

* {
  box-sizing: border-box;
}
#Layer_1 {
 display: inline-block;
 width: 40px;
 height: 40px;
}
ul {
  list-style-type: none;
  padding: 0;
 }
img {
  width: 100%;
  height: 100%;
  margin: auto;
}
body {
  background-color: #ffffff;
  font-family: 'Vollkorn';
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #420704;
}
h1, h2, h3, h4 {
  font-family: 'VickyChristina';
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  color: #420704;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
header {
  background-color: #fdf8f8;
  padding: 20px;
  border-bottom: 3px solid #b08382;
  box-shadow: 0px 8px 8px 0px rgba(160, 160, 160, 0.28);
  position: relative;
}

/* LINKS */
a {
  font-weight: 600;
  color: #420704;
  text-decoration: none; /* No underlining */
}
a:visited {
  font-weight: 600;
  color: #b08382;
}
a:hover {
  font-weight: 600;
  color: #d65e5c;
  text-decoration: none;
}
a:active {
  font-weight: 600;
  color: #ab133b;
}
a:focus {
  font-weight: 600;
  color: #d65e5c;
  text-decoration: none;
}

/*FONTS*/
@font-face {
  src: url(Fonts/Vollkorn.ttf);
  font-family: 'Vollkorn';
}
@font-face {
  src: url(Fonts/VickyChristina.otf);
  font-family: 'VickyChristina';
}

/*LAYOUT STYLING*/
.container {
  padding: 0 15px;
}
.centered {
 text-align: center;
 max-width: 900px;
 margin: auto;
}
.hero {
  text-align: center;
  width: auto;
}
.row {
  margin: 50px auto; /* 25px top and bottom, 0 left and right */
}
.row h2 {
  text-align: center;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
.footer {
  padding-bottom: 40px;
  margin-bottom: 60px;
}
.footer p {
  text-align: center;
  max-width: 400px;
  padding: 10px 0;
  margin: auto;
}
.container h2 {
  text-align: center;
}
.logo {
  padding-top:20px;
  max-width: 150px;
  max-height: inherit;
}
.social-icon{
  margin: 10px;
}
.two-columns {
  column-count: 2;
  height: auto;
}
.three-columns {
  column-count: 3;
  height: auto;
}
.list {
  border: 1px solid pink;
}
.case-study {
  max-width: 1000px;
  padding: 40px 0 80px 0;
  margin: auto;
  display: block;
}
.padding {
  padding: 20px 0;
}
.thumbnail {
  padding-right: 20px;
}
.berlin-illustration {
  width: 100%;
 max-width: 100%;
 height: auto;
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 2px;
  font-size: 22px;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid;
  color: #d65e5c
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

#headshot {
  max-width: 400px;
  margin: auto;
  display: block;
}
#resume {
  text-align: center;
}
#works .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #b08382;
}
#hero {
  background-color: #fdf8f8;
  width: 100%;
  padding: 20px 20px 40px 20px;
  display: inline-block;
}
#aboutme h1 {
  text-align: center;
}
#brunchbuddy {
  margin-bottom: 40px;
  border-bottom: 1px solid #b08382;
}
#lemonade {
  margin-bottom: 40px;
  border-bottom: 1px solid #b08382;
}


nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav > ul > li > a {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #420704;
  text-decoration: none;
}
nav > ul > li > a:visited {
  color: #420704;
}
nav > ul > li > a:hover {
 color: #d65e5c;
}
nav > ul > li > a:active {
 color: #ab133b;
}
nav > ul > li > a:focus {
 color: #d65e5c;
}
.navtoggle.responsive li  {
  display: block;
}

/*Buttons*/
.button {
  display: inline-block;
  background-color: #420704;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  padding: 6px 24px;
  margin-bottom: 24px;
  border-radius: 6px;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 90% */
  background-color: #420704;
}
.button:active {
  background-color: #661c1b;
}
.button.see-more {
  color: #faf0f0;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #713734;
  text-decoration: none;
  border: 2px solid #713734;
}
.button.contact:hover {
  color: #d65e5c;
  border-color: #d65e5c;
}
.button.contact:visited {
  text-decoration: none;
}
.button.contact:active {
  color: #661c1b;
}


/*__________BREAKPOINTS____________*/

/* Medium devices (640px and larger)*/
@media only screen and (min-width: 641px) {
  header {
   text-align: unset;
   padding: 40px 20px 20px 20px;
   margin: 0;
  }
  nav {
    width: auto;
    float: right;
    margin: auto;
  }
  nav > ul > li {
    display: inline-block;
  }
  nav > ul > li > a {
    padding: 0 8px;
  }
  body {
    font-size: 20px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  .logo {
    padding: 0 8px;;
    max-width: 200px;
  }
  .col-md-6 {
   width: 50%;
  }
 [class*="col-"] {
    float: left;
  }
 .text {
   padding-left: 10px;
 }
  .text h3 {
    margin: 0;
  }
}

/*Large devices (1024px or larger)*/
@media only screen and (min-width: 1024px) {
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  .col-lg-5 {
    width: 40%;
    float: left;
  }
  .col-lg-7{
    width: 60%;
    float: left;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*X-large devices (1440px or larger)
@media only screen and (min-width: 1440px) {
  nav > ul > li {
    display: inline-block;
  }
} */
